form {
   margin-bottom: 2rem;
}

input {
   padding: .5rem;
   margin: 0 .5rem;
   border: 1px solid gray;
   border-radius: .25rem;
}

.add {
   background-color: green;
}

.add:hover, .add:focus {
   background-color: darkgreen;
}
