.notes-list {
   display: flex;
   flex-wrap: wrap;
}

.note {
   width: calc(50% - 4rem);
   background-color: white;
   padding: 1rem;
   margin: 1rem;
   border-radius: .25rem;
}

.edit {
   background-color: orange;
}

.edit:hover, .edit:focus {
   background-color: darkorange;
}

.save {
   background-color: green;
}

.save:hover, .save:focus {
   background-color: darkgreen;
}

.delete {
   background-color: red;
}

.delete:hover, .delete:focus {
   background-color: darkred;
}
