#root {
  max-width: 1366px;
}

body {
  margin: 0;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  font-size: 14px;
}

main {
   text-align: center;
   padding: 1rem;
}

section {
   border-bottom: 1px solid gray;
}

h1 {
  font-size: 2.5rem; /* 40px */
  text-align: center;
}
h2 {
  font-size: 1.35rem;
}
h3 {
  font-size: 1.1rem
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 3.125rem; /* 50px */
  }
  h2 {
    font-size: 1.56rem
  }
  h3 {
    font-size: 1.2rem
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
  main {
     padding: 2rem;
 }
  h1 {
    font-size: 3.75rem; /* 60px */
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  button {
     font-size: 1rem;
  }
}
